<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/aop
 		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
 		
	<beans profile="inMemoryStorage">
    	<bean id="eventUsageCounter" class="com.yra.springpr.aop.event.EventUsageCounterMemoryImpl" />
    	<bean id="discountUsageCounter" class="com.yra.springpr.aop.discount.DiscountUsageCounterMemoryImpl" />
    </beans>
    
    <beans profile="jdbcDbStorage">
    	<bean id="eventUsageCounter" class="com.yra.springpr.aop.event.EventUsageCounterSpringJdbcImpl">
    		<constructor-arg ref="jdbcTemplate" />
    	</bean>
    	<bean id="discountUsageCounter" class="com.yra.springpr.aop.discount.DiscountUsageCounterSpringJdbcImpl">
    		<constructor-arg ref="jdbcTemplate" />
    	</bean>
    </beans>
 		
</beans>