<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/aop
 		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
 	
    <aop:aspectj-autoproxy />
    
    <bean id="eventUsageCounterInMemory" class="com.yra.springpr.aop.event.EventUsageCounterMemoryImpl" />
    <bean id="eventUsageCounterJdbc" class="com.yra.springpr.aop.event.EventUsageCounterSpringJdbcImpl">
    	<constructor-arg ref="jdbcTemplate" />
    </bean>
    
    <bean class="com.yra.springpr.aop.event.EventRequestAspect">
    	<constructor-arg ref="eventUsageCounterJdbc" />
    </bean>
    <bean id="eventStatistics" class="com.yra.springpr.aop.event.EventStatistics">
        <constructor-arg ref="eventUsageCounterJdbc" />
    </bean>
    
    <bean id="discountUsageCounterInMemory" class="com.yra.springpr.aop.discount.DiscountUsageCounterMemoryImpl" />
    <bean id="discountUsageCounterJdbc" class="com.yra.springpr.aop.discount.DiscountUsageCounterSpringJdbcImpl">
    	<constructor-arg ref="jdbcTemplate" />
    </bean>
    
    <bean class="com.yra.springpr.aop.discount.DiscountCounterAspect">
        <constructor-arg ref="discountUsageCounterJdbc" />
    </bean>
    <bean id="discountStatistics" class="com.yra.springpr.aop.discount.DiscountStatistics">
        <constructor-arg ref="discountUsageCounterJdbc" />
    </bean>
    
    <bean class="com.yra.springpr.aop.discount.LuckyWinnerAspect">
        <constructor-arg ref="bookingDao" />
    </bean>
    
 </beans>